.CMain{
  margin: 0 auto;
  width: 1536px;

  &_header{
    height: 80px;
  }

  &_main{
    min-height: 673px;
    display: flex;
  }

  &_left{
    height: inherit;
    min-width: 200px;
    background-color: #545c64;
  }

  &_content{
    flex: 1;
    background-color: rgb(247, 248, 249);
  }
}